* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 67.5%;
}

*:not(h1, h2, h3, h4, h5, h6, small, sub, sup) {
  font-size: 100%;
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 320px) {
  body {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.95rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    /* no Need */
    /* font-size: 0.95rem; */
  }
}
@media only screen and (min-width: 900px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.05rem;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1900px) {
  body {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 2400px) {
  body {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  body {
    font-size: 1.75rem;
  }
}
@media only screen and (min-width: 4000px) {
  body {
    font-size: 2rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
